### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [56]:
# Dependencies and Setup
import pandas as pd

# File to Load
readFile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purData = pd.read_csv(readFile)

## Player Count

* Display the total number of players

In [57]:
#Establish a DataFrame
players = pd.DataFrame(purData)
#Find the total number of players
totalPlayers = len(players["SN"].value_counts())
#Create a DataFrame for display
totalPlayersDF = pd.DataFrame({'Players': [totalPlayers]})
#Display the data
totalPlayersDF

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
#Basic summary of the data
players.describe()
#Finding the number of unique items
unqItems = len(players['Item ID'].value_counts())
#Finding the average price of items and format
avgPrice = round(players['Price'].mean(), 2)
avg = "${:,.2f}".format(avgPrice)
#Finding the total number of purchases made
totalPurchases = len(players['Item ID'])
#Finding the total revenue generated from purchases and formatting
totalRev = sum(players['Price'])
revenue = "${:,.2f}".format(totalRev)
#Building a DataFrame for display purposes
summaryDF = pd.DataFrame({'Number of Unique Items': [unqItems], 'Average Price': [avg],
                          'Number of Purchases': [totalPurchases], 'Total Revenue': [revenue]})
#Displaying the data
summaryDF

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [59]:
#Count of Players by gender
genderGroup = players.groupby('Gender')
genderCount = genderGroup['SN'].nunique()
#Percentage of players by gender
genderPerc = genderCount/totalPlayers
#Building a dataframe for visual and formatting
genderDF = pd.DataFrame({'Total Count': genderCount, 'Percentage of Players': genderPerc})
genderDF['Percentage of Players'] = genderDF['Percentage of Players'].map("{:.2%}".format)
genderDF

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
#Count of Purchases by gender
purchCount = genderGroup['SN'].count()
#Percentage of purchases by gender
purchAvg = genderGroup['Price'].mean()
#Total purchase value
purchTotal = genderGroup['Price'].sum()
#Purchases per person
purchPers = purchTotal / genderGroup["SN"].nunique()
#Building a dataframe for visual and formatting
purchDF = pd.DataFrame({'Purchase Count': purchCount, 'Average Purchase Price': purchAvg, 
                        'Total Purchase Value': purchTotal, 'Avg Total Purchase per Person': purchPers})
purchDF['Average Purchase Price'] = purchDF['Average Purchase Price'].map("${:.2f}".format)
purchDF['Total Purchase Value'] = purchDF['Total Purchase Value'].map("${:.2f}".format)
purchDF['Avg Total Purchase per Person'] = purchDF['Avg Total Purchase per Person'].map("${:.2f}".format)
purchDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [62]:
#Creating bins
playersCopy = players.copy()
newDF = playersCopy.drop_duplicates(subset=['SN'])
ageBins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
binNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Separating into bins
newDF['Sorted Age'] = pd.cut(newDF['Age'], ageBins, labels=binNames)
#Finding total players
ageTotals = newDF['Sorted Age'].value_counts()
#Finding percentages
agePercs = ageTotals / totalPlayers
#Creating dataframe and formatting
ageDF = pd.DataFrame({'Total Count': ageTotals, 'Percentage of Players': agePercs})
ageDF['Percentage of Players'] = ageDF['Percentage of Players'].map("{:.2%}".format)
ageDF.sort_index()

<ipython-input-62-ed9b73bef0fb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDF['Sorted Age'] = pd.cut(newDF['Age'], ageBins, labels=binNames)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
#Separating into bins
players['Sorted Purch'] = pd.cut(players['Age'], ageBins, labels=binNames)
#Grouping my bins
playersGroup = players.groupby('Sorted Purch')
#Finding the total purchases
purchCount = players['Sorted Purch'].value_counts()
#Finding the purchase total
purchTotal = playersGroup['Price'].sum()
#Finding the purchase average
purchAvg = playersGroup['Price'].mean()
#Finding the average per person
purchPer = purchTotal / purchCount
#Building the DataFrame and formatting
purchDF = pd.DataFrame({'Purchase Count': purchCount, 'Average Purchase Price': purchAvg,
                        'Total Purchase Value': purchTotal, 'Avg Total Purchase per Person': purchPer})
purchDF['Average Purchase Price'] = purchDF['Average Purchase Price'].map("${:.2f}".format)
purchDF['Total Purchase Value'] = purchDF['Total Purchase Value'].map("${:.2f}".format)
purchDF['Avg Total Purchase per Person'] = purchDF['Avg Total Purchase per Person'].map("${:.2f}".format)
purchDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
#Grouping by SN
snGroup = players.groupby('SN')
#Finding the total player purchases
snPurchCount = players['SN'].value_counts()
#Finding the average player purchase
snAvgPurch = snGroup['Price'].mean()
#Finding the sum of all player purchases
snTotalPurch = snGroup['Price'].sum()
#Building a DataFrame and formatting
snDF = pd.DataFrame({'Purchase Count': snPurchCount,
                    'Average Purchase Price': snAvgPurch,
                    'Total Purchase Value': snTotalPurch})
sortedDF = snDF.sort_values(by='Total Purchase Value', ascending=False)
sortedDF['Average Purchase Price'] = sortedDF['Average Purchase Price'].map("${:.2f}".format)
sortedDF['Total Purchase Value'] = sortedDF['Total Purchase Value'].map("${:.2f}".format)
sortedDF.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [113]:
itemGroup = players.groupby(['Item ID', 'Item Name'])
itemCount = itemGroup['Purchase ID'].count()
itemTotal = itemGroup['Price'].sum()
itemPrice = itemTotal / itemCount
itemDF = pd.DataFrame({'Purchase Count': itemCount,
                      'Item Price': itemPrice,
                      'Total Purchase Value': itemTotal})
itemsortDF = itemDF.sort_values(by='Purchase Count', ascending=False)
itemsortDF['Item Price'] = itemsortDF['Item Price'].map("${:.2f}".format)
itemsortDF['Total Purchase Value'] = itemsortDF['Total Purchase Value'].map("${:.2f}".format)
itemsortDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [115]:
newsortDF = itemDF.sort_values(by='Total Purchase Value', ascending=False)
newsortDF['Item Price'] = newsortDF['Item Price'].map("${:.2f}".format)
newsortDF['Total Purchase Value'] = newsortDF['Total Purchase Value'].map("${:.2f}".format)
newsortDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80